<nav class="breadcrumb is-small {%if request.page_type == 'product'%} pt-4 {%endif%}" aria-label="breadcrumbs">
    <ul class="ml-0">
        <li><a href="{{routes.root_url}}" class="is-uppercase">Home</a></li>
        <li><a href="/collections" class="is-uppercase">Categories</a></li>
    </ul>
</nav>

<script>
    window.COLLECTION_HANDLE = '{{collection.handle}}';
    window.CURRENT_PAGE = '{{request.page_type}}';
    // A $( document ).ready() block.
$( document ).ready(function() {
    // Breadcrumb Links
    // Main>Childlink>Grandchildlink
    $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null) {
        return null;
    }
    return decodeURI(results[1]) || 0;
    }

    let breadTitle = function(str) {
    return str.replaceAll('_', ' ');
    }

    const MAIN = $.urlParam('main'),
    CHILDLINK = $.urlParam('childlink'),
    GRANDCHILDLINK = $.urlParam('grandchildlink'),
    TITLE = $.urlParam('title') || "{{collection.title}}";
    
    let categories = "";
    
    $breadcrumbs = $('.breadcrumb');
    if(MAIN) {
    $breadcrumbs.find('ul').append(`<li><a href="/collections?title=${MAIN}" class="is-uppercase">${breadTitle(MAIN)}</a></li>`);
    categories = breadTitle(MAIN);
    }
    if(CHILDLINK) {
    $breadcrumbs.find('ul').append(`<li><a href="/collections/${localStorage.getItem('handle')}?main=${MAIN}&title=${CHILDLINK}" class="is-uppercase">${breadTitle(CHILDLINK)}</a></li>`);
    categories = breadTitle(CHILDLINK);
    }

    $breadcrumbs.find('ul').append(`<li class="is-active"><a href="/collections/${TITLE}" class="is-uppercase">${TITLE}</a></li>`);
    if(breadTitle(categories) === TITLE) categories = "";
    $breadcrumbs.css('opacity', '1');
    $('h2.collection_title').text(`${(categories != "") ? categories+"/"+TITLE : TITLE}`);

    // Local Storage functions
    // This save item to local storage
    Storage.prototype.setObj = function(key, obj) {
    return this.setItem(key, JSON.stringify(obj));
    }

    // This get item from local storage
    Storage.prototype.getObj = function(key) {
    return JSON.parse(this.getItem(key));
    }
    if(window.CURRENT_PAGE != 'product') {
        console.log(window.COLLECTION_HANDLE);
        // Save collection handle to local storage
        localStorage.setItem('handle', window.COLLECTION_HANDLE); 

        $('.collection-image-drid ').on('click', ('a[data-product-link]'), function(event) {
            event.preventDefault();
            $this = $(this);
            const buildLink = $this.attr('href') + `&main=${MAIN}&childlink=${TITLE}&title=${$this.data('title')}`;
            window.location.href = buildLink;
        });
    }
});
</script>