<div class="columns image-grid is-multiline mb-6">
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
    <div class="column is-3">
      <figure class="image is-4by5">
        <img src="https://bulma.io/images/placeholders/480x600.png">
      </figure>
      <div class="product-meta mt-2">
        <p class="title product-title has-text-centered">Thermi 16oz Cup Death Before Decaf</p>
        <span class="product-price has-text-weight-light has-text-centered">$24.95</span>
      </div>
    </div>
  </div>