<!-- Menus for Text -->
{%style%}
    .engraving-personalization > fieldset {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .engraving-personalization fieldset > label {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .engraving-personalization .ProductSelect-option > span{
        display: block;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
{%endstyle%}
{%if engrave_text != blank %}
    <div class="radio-wrapper js product-form__item engraving-personalization">
        <label class="single-option-radio__label" for="ProductSelect-option-personalization">Choose your design style.</label>
        <fieldset class="single-option-radio" id="ProductSelect-option-personalization">
            <!-- Option Columns -->
            <input type="radio" checked="checked"
            value="text1"
            name="personalization-texts"
            class="single-option-selector__radio-personalization"
            id="ProductSelect-option-text1">
            <label for="ProductSelect-option-text1">
                <div class="ProductSelect-option">
                    <span>Horizontal Text</span>
                    <span class="this-description">
                        Up to 5 lines of text
                    </span>
                </div>
            </label>
            <!-- NO -->
            <input type="radio"
            value="text1"
            name="personalization-texts"
            class="single-option-selector__radio-personalization"
            id="ProductSelect-option-text2">
            <label for="ProductSelect-option-text2">
                <div class="ProductSelect-option">
                    <span>Vertical Text</span>
                    <span class="this-description">
                        Up to 3 lines of text
                    </span>
                </div>
            </label>
        </fieldset>
    </div>
{%endif%}