
<div class="radio-wrapper product-form__item engraving-texts">
    <label class="single-option-radio__label" for="engraving-texts">
        Enter your personalize texts.
    </label>
    <fieldset class="single-option-radio engraving-text-inputs" id="engraving-texts">
        <!-- Options -->
        <div class="text-option__wrapper">
            <input type="text" class="engraving-input" name="text1">
            <span class="text-hint">Line 1 (up to <i>10</i> characters)</span>
        </div>
        <!-- Options -->
        <div class="text-option__wrapper">
            <input type="text" class="engraving-input" name="text2">
            <span class="text-hint">Line 2 (up to <i>10</i> characters)</span>
        </div>
        <!-- Options -->
        <div class="text-option__wrapper">
            <input type="text" class="engraving-input" name="text3">
            <span class="text-hint">Line 2 (up to <i>10</i> characters)</span>
        </div>
        <!-- Options -->
        <div class="text-option__wrapper">
            <input type="text" class="engraving-input" name="text4">
            <span class="text-hint">Line 2 (up to <i>10</i> characters)</span>
        </div>
        <!-- Options -->
        <div class="text-option__wrapper">
            <input type="text" class="engraving-input" name="text5">
            <span class="text-hint">Line 2 (up to <i>10</i> characters)</span>
        </div>
    </fieldset>
</div>