<!-- Menus for Text -->
{%style%}
    .engraving-personalization > fieldset.engraving-options {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr);
    }
    .engraving-personalization > fieldset label.span-two-col {
        grid-column: 1/ span 2;
    }
    .engraving-personalization fieldset > label {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .engraving-personalization .ProductSelect-option > span{
        display: block;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
{%endstyle%}
<div class="radio-wrapper js product-form__item engraving-personalization">
    <label class="single-option-radio__label" for="ProductSelect-option-personalization">Choose your design style.</label>
    <fieldset class="single-option-radio engraving-options" id="ProductSelect-option-personalization">
        <!-- Option Horizontal -->
        <input type="radio" checked="checked"
        value="text1"
        name="personalization-texts"
        class="single-option-selector__radio-personalization"
        id="ProductSelect-option-text1">
        <label for="ProductSelect-option-text1">
            <div class="ProductSelect-option">
                <span>Horizontal Text</span>
                <span class="this-description">
                    Up to 5 lines of text
                </span>
            </div>
        </label>
        <!-- Option vertical -->
        <input type="radio"
        value="text1"
        name="personalization-texts"
        class="single-option-selector__radio-personalization"
        id="ProductSelect-option-text2">
        <label for="ProductSelect-option-text2">
            <div class="ProductSelect-option">
                <span>Vertical Text</span>
                <span class="this-description">
                    Up to 3 lines of text
                </span>
            </div>
        </label>
        <!-- Option Initials -->
        <input type="radio"
        value="text1"
        name="personalization-texts"
        class="single-option-selector__radio-personalization"
        id="ProductSelect-option-initials">
        <label for="ProductSelect-option-initials">
            <div class="ProductSelect-option">
                <span>Initials</span>
                <span class="this-description">
                    Up to 3 Letters
                </span>
            </div>
        </label>
        <!-- Option Icon/Emoji -->
        <input type="radio"
        value="text1"
        name="personalization-texts"
        class="single-option-selector__radio-personalization"
        id="ProductSelect-option-icon">
        <label for="ProductSelect-option-icon">
            <div class="ProductSelect-option">
                <span>Icon/Emoji</span>
                <span class="this-description">
                    Includes one line of texts.
                </span>
            </div>
        </label>
        <!-- Option Custom Logo -->
        <input type="radio"
        value="text1"
        name="personalization-texts"
        class="single-option-selector__radio-personalization"
        id="ProductSelect-option-custom">
        <label for="ProductSelect-option-custom" class="span-two-col">
            <div class="ProductSelect-option">
                <span>Custom Logo? Contact Us.*</span>
                <span class="this-description">
                    Start at +$15
                </span>
            </div>
        </label>
    </fieldset>
</div>