<!-- Menus for Text -->
{%style%}
    .engraving-personalization > fieldset.engraving-icons-texts {
        display: grid !important;
        grid-template-columns: repeat(3, 1fr);
    }
    .engraving-personalization > fieldset label.span-two-col {
        grid-column: 1/ span 2;
    }
    .engraving-personalization fieldset.engraving-icons-texts > label {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .engraving-personalization .ProductSelect-option > span{
        display: block;
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }
{%endstyle%}
    <div class="radio-wrapper js product-form__item engraving-personalization">
        <label class="single-option-radio__label" for="ProductSelect-option-personalization">Choose an icon and font.</label>
        <fieldset class="single-option-radio engraving-icons-texts" id="ProductSelect-option-personalization-icons-text">
            <!-- Options -->
            <input type="radio" checked="checked"
            value="text1"
            name="personalization-icons-text"
            class="single-option-selector__radio-personalization"
            id="ProductSelect-option-icon-1">
            <label for="ProductSelect-option-icon-1">
                <div class="ProductSelect-option">
                    test
                </div>
            </label>
        </fieldset>
    </div>