<style>
.to-top {
    text-align: center;
    padding-bottom: 20px;
    position: relative;
}

.to-top a {
    color: black;
    text-transform: uppercase;
}

@media (max-width: 39.9375em) {
    .to-top a {
    font-size: 0.875rem;
    }
}

.to-top a::after {
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/0598/6159/8417/files/icon-up.png?v=1650195241) no-repeat 0 0;
    background-size: 100% 100%;
    position: absolute;
    top: -20px;
    width: 15px;
    height: 8px;
    display: inline-block;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}

@media (max-width: 39.9375em) {
    .to-top a::after {
        top: -16px;
        width: 12px;
        height: 6px;
    }
}

.to-top a:hover {
    text-decoration: underline;
}
.to-top a:hover::after {
    top: -22px;
}
</style>
<div id="top" class="to-top">
    <a href="/" @click.prevent="toTop">Go back to top</a>
</div>
<script>
    const toTop = {
        data() {
            return {
                scTimer: 0,
                scY: 0,
            }
        },
        methods: {
             toTop() {
                 window.scrollTo({
                     top: 0,
                     behavior: "smooth"
                 });
             }
        },
    };
    Vue.createApp(toTop).mount('#top');
</script>