.carousel-clients {
    section, .section {
        padding-top: 10px !important;
        padding-bottom: 20px!important;
    }
    .container {
        .section-header {
            margin-bottom: 10px !important;
        }
        figure.image {
            margin: 0;
        }
    }
}