.carousel-clients {
    section, .section {
        padding-top: 10px !important;
        padding-bottom: 10px!important;
    }
    .container {
        @include tablet {
            padding: 0 130px;
        }
        .section-header {
            margin-bottom: 10px !important;
        }
        figure.image {
            margin: 0;
            width: 200px;

            @include mobile {
                width: 120px;
            }
        }

        .swiper-wrapper {
            @include from(768px) {
                justify-content: center;
            }
        }

        .swiper-wrapper .swiper-slide {
            display: flex;
            justify-content: center;
        }
    }
}