.collection-page {
    .column {
        .product-search {
            .field .icon.icon-search {
                top: 8px;
                right: -12px;
                color: $black;
            }
            .field .control input {
                border-radius: 0;
                border-color: $black;
                &::placeholder {
                    color: $black;
                }
            }
        }
        .product-swatches {
            height: 30px;
            .product-wrapper {
                width: 16px;
                height: 16px;
                &:not(:last-child) {
                    margin-right: 4px;
                }
            }
            .variant-count {
                padding-top: 2px;
                font-size: 12px;
            }
        }
    }
}