.collection-page {
    .column {
        .product-search {
            .field .icon.icon-search {
                top: 8px;
                right: -12px;
                color: $black;
            }
            .field .control input {
                border-radius: 0;
                border-color: $black;
                &::placeholder {
                    color: $black;
                }
            }
        }
    }
}