#shopify-section-product-template {
    .grid.product-single.is-flex {
        justify-content: center;

        @include mobile {
            flex-direction: column;
            align-items: center;
            padding-left: 10px;
        }
    }
}