#shopify-section-product-template {
    .grid.product-single.is-flex {
        justify-content: center;

        @include mobile {
            flex-direction: column;
            align-items: center;
            padding-left: 10px;
        }
    }
    @include mobile {
        fieldset#ProductSelect-option-personalization {
            display: flex;
        }
    }
    @include until(426px) {
        fieldset#ProductSelect-option-personalization {
            flex-direction: column;
        }
    }
}