<!-- /templates/collection.liquid -->
<style>
  .collection-page .hero {
    {%if collection.image != blank %}
    background-image: url('{{collection.image | img_url: "master"}}');
    {%else%}
    display: none;
    {%endif%}
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
</style>
<section class="hero is-medium is-link">
  <div class="hero-body has-text-centered">
    
  </div>
</section>
<section class="section collection-grid">
  <div class="wrapper">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
      <ul class="ml-0">
        <li><a href="{{routes.root_url}}" class="is-uppercase">Home</a></li>
        <li><a href="/collections" class="is-uppercase">Categories</a></li>
      </ul>
    </nav>
    <div class="columns is-variable is-8-widescreen">
      <div class="column is-one-fifth">
        <h2 class="title is-uppercase is-size-5 pb-3">{{section.settings.text}}</h2>
        <div class="product-search">
          <div class="field">
            <p class="control has-icons-right">
              <input class="input" type="email" placeholder="Search Products">
              <span class="icon is-small is-right">
                <span class="icon icon-search" aria-hidden="true"></span>
              </span>
            </p>
          </div>
        </div>
        <div class="product-side-navigation">
          {% render 'custom-side-accordion' %}
        </div>
      </div>
      <div class="column has-text-centered">
        <h2 class="title collection_title is-uppercase is-size-5 pb-3"></h2>
        {% render 'custom-image-grid' collection: collection %}
      </div>
    </div>
  </div>
</section>

<script>
  // A $( document ).ready() block.
$( document ).ready(function() {
  // Breadcrumb Links
  // Main>Childlink>Grandchildlink
  $.urlParam = function(name){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(window.location.href);
    if (results==null) {
       return null;
    }
    return decodeURI(results[1]) || 0;
  }

  let breadTitle = function(str) {
    return str.replaceAll('_', ' ');
  }

  const MAIN = $.urlParam('main'),
    CHILDLINK = $.urlParam('childlink'),
    GRANDCHILDLINK = $.urlParam('grandchildlink'),
    TITLE = $.urlParam('title') || "{{collection.title}}";
  
  let categories = "";
  
  $breadcrumbs = $('.breadcrumb');
  if(MAIN) {
    $breadcrumbs.find('ul').append(`<li><a href="/collections?title=${MAIN}" class="is-uppercase">${breadTitle(MAIN)}</a></li>`);
    categories = breadTitle(MAIN);
  }
  if(CHILDLINK) {
    $breadcrumbs.find('ul').append(`<li><a href="/collections?title=${CHILDLINK}" class="is-uppercase">${breadTitle(CHILDLINK)}</a></li>`);
    categories = breadTitle(CHILDLINK);
  }
  $breadcrumbs.find('ul').append(`<li class="is-active"><a href="/collections/${TITLE}" class="is-uppercase">${TITLE}</a></li>`);
  if(breadTitle(categories) === TITLE) categories = "";
  $breadcrumbs.css('opacity', '1');
  $('h2.collection_title').text(`${(categories != "") ? categories+"/"+TITLE : TITLE}`);
});
</script>
{% schema %}
{
  "name": "Collection pages v2",
  "class": "collection-page",
  "settings": [
    {
      "type": "header",
      "content": "Side Navigation Settings"
    },
    {
      "type": "text",
      "id": "navigation_text",
      "label": "Side Navigation Text",
      "default": "Shop by category"
    },
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Side Menu"
    },
    {
      "type": "checkbox",
      "id": "navigation_search",
      "label": "Show Side Navigation Search?",
      "default": true
    }
  ]
}
{% endschema %}
