.text-hover {
    display: inline-block;
    position: relative;

    &:after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $white;
        transform-origin: bottom right;
        transition: transform 0.4s ease-out;
    }

    &.hover-black:after {
        background-color: $black;
        bottom: 10px;
    }

    &:hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }
}